<html>

<head>
    <title>VueJs</title>
    <script type = "text/javascript" src = "vue.js"></script>
</head>

<body>


<div id="app">
<input type="text" v-model='tmp' @keyup.enter='add'>
<input type="button" value="add" @click='add' autocomplete="off">
<input type="button" value="subtract" @click='subtract'>
<input type="button" value="hide" @click='hide'>
<ul v-if='show'>
    <li v-for="(item,index) in content">
        {{index+1}} - {{item}}
    </li>
</ul>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            content:['a','b','c'],
            tmp:1,
            show:true
        },
        methods:{
            add:function(){
                this.content.push(this.tmp);
            },
            subtract:function(){
                this.content.pop();
            },
            hide:function(){
                this.show=!this.show;
            }

        }
    });
</script>



</body>

</html>
